<div class="latest_coures_area">
    <div class="latest_coures_inner">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="coures_info">
                        <div class="section_title white_text">
                            <h3>Latest Courses</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod <br> tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim <br> veniam, quis nostrud exercitation.</p>
                        </div>
                        <div class="coures_wrap d-flex">
                            <div class="single_wrap">
                                <div class="icon">
                                    <i class="flaticon-lab"></i>
                                </div>
                                <h4>Bachelor of <br>
                                    Graphic Design</h4>
                                    <p>Lorem ipsum dolor sit amet, sectetur adipiscing elit, sed do eiusmod tpor incididunt ut piscing vcs.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                            </div>
                            <div class="single_wrap">
                                <div class="icon">
                                    <i class="flaticon-lab"></i>
                                </div>
                                <h4>Bachelor of <br>
                                    Graphic Design</h4>
                                    <p>Lorem ipsum dolor sit amet, sectetur adipiscing elit, sed do eiusmod tpor incididunt ut piscing vcs.</p>
                                    <a href="#" class="boxed-btn5">Apply NOw</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>