<header>
    <div class="header-area ">
        <div class="header-top_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_top_wrap d-flex justify-content-between align-items-center">
                            <div class="text_wrap">
                                <!-- <p><span>+880166 253 232</span> <span>info@domain.com</span></p> -->
                            </div>
                            <div class="text_wrap">
                                <p>
                                {% if user.is_authenticated %}
                                    <a href="{% url 'main:user-profile' user.userprofile.id %}"><i class="ti-user"></i>  {{ request.user }}</a> <a href="{% url 'account_logout' %}">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_login' %}"> <i class="ti-user"></i>  Login </a><a href="{% url 'account_signup' %}">Register</a>
                                {% endif %}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="header_wrap d-flex justify-content-between align-items-center">
                            <div class="header_left">
                                <div class="logo">
                                    <a href="/">
                                        <!-- <img src="img/logo.png" alt=""> -->
                                        <h2>Oduduwa</h2>
                                        <h3 class="ml-3">Jun & Sec</h3>
                                    </a>
                                </div>
                            </div>
                            <div class="header_right d-flex align-items-center">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">
                                            <li><a href="/">Home</a></li>
                                            
                                            {% if user.is_authenticated %}
                                            <li><a href="#">blog <i class="ti-angle-down"></i></a>
                                                <ul class="submenu">
                                                    <li><a href="{% url 'blog:blogs' %}">Posts</a></li>
                                                    <li><a href="{% url 'blog:create' %}">Create Post</a></li>
                                                </ul>
                                            </li>
                                            {% else %}
                                            <li><a href="{% url 'blog:blogs' %}">Posts</a></li>
                                            {% endif %}
                                                
                                            <li><a href="#">blank </a>
                                                <!-- <ul class="submenu">
                                                    <li><a href="Event.html">Event</a></li>
                                                    <li><a href="event_details.html">Event Details</a></li>
                                                    <li><a href="Admissions.html">Admissions</a></li>
                                                    <li><a href="elements.html">elements</a></li>
                                                </ul> -->
                                            </li>
                                            <li><a href="#">blank </a></li>
                                        </ul>
                                    </nav>
                                </div>
                                <!-- <div class="Appointment">
                                    <div class="book_btn d-none d-lg-block">
                                        <a data-scroll-nav='1' href="#">Apply NOw</a>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none" style="margin-top: -20px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>