<div class="recent_event_area section__padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <div class="section_title text-center mb-70">
                    <h3 class="mb-45">Recent Event</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="single_event d-flex align-items-center">
                    <div class="date text-center">
                        <span>02</span>
                        <p>Dec, 2020</p>
                    </div>
                    <div class="event_info">
                        <a href="event_details.html">
                            <h4>How to speake like a nativespeaker?</h4>
                         </a>
                        <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                    </div>
                </div>
                <div class="single_event d-flex align-items-center">
                    <div class="date text-center">
                        <span>03</span>
                        <p>Dec, 2020</p>
                    </div>
                    <div class="event_info">
                        <a href="event_details.html">
                            <h4>How to speake like a nativespeaker?</h4>
                         </a>
                        <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                    </div>
                </div>
                <div class="single_event d-flex align-items-center">
                    <div class="date text-center">
                        <span>10</span>
                        <p>Dec, 2020</p>
                    </div>
                    <div class="event_info">
                        <a href="event_details.html">
                            <h4>How to speake like a nativespeaker?</h4>
                         </a>
                        <p><span> <i class="flaticon-clock"></i> 10:30 pm</span> <span> <i class="flaticon-calendar"></i> 21Nov 2020 </span> <span> <i class="flaticon-placeholder"></i> AH Oditoriam</span> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>