<div class="service_area gray_bg">
    <div class="container">
        <div class="row justify-content-center ">
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-school"></i>
                    </div>
                    <div class="service_info">
                        <h4>Scholarship</h4>
                        <p>Available</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-error"></i>
                    </div>
                    <div class="service_info">
                        <h4>Scholarship</h4>
                        <p>Available</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="single_service d-flex align-items-center ">
                    <div class="icon">
                        <i class="flaticon-book"></i>
                    </div>
                    <div class="service_info">
                        <h4>Scholarship</h4>
                        <p>Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>