{% extends 'base.html' %}

{% load static %}

{% block head_title %} Home {% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}

{% if request.user.id == user.id %}
<div class="container text-center">
    <h3 class="mt-4">Delete Your Comment</h3>

    <div class="form-group">
        <form method="post" class="border border-light p-5">
            {% csrf_token %}
            <button type="submit" class="btn btn-lg btn-outline-danger waves-effect">Delete Comment</button>
            <div style="padding-bottom: 106px;"></div>
        </form>
    </div>
</div>
{% else %}
    <div class="text-center mt-5 mb-5">
        <h1>You're not allowed here!</h1>
    </div>
{% endif %}

{% endblock %}

{% block extra_script %}
  
{% endblock extra_script %}
